doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 404-Page not found
  body
    header
      nav
        ul
          li: a(href="/") Home
          li: a(href="/admin/add-product") Add Product
    main
      h1 ⚠️ Page Not Found ⚠️
